.footer {
    background-color: #101010;
    padding: 70px 3rem 40px 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d827;
}

.footerContainer p {
    background-color: #101010;
    padding: 20px 3rem;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}

.footerItem h6 {
    font-size: 16px;
    color: #ec7532;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footerItem ul li {
    color: #fff;
    font-size: 13px;
    list-style: none;
    font-weight: 300;
    padding-bottom: 10px;
    cursor: pointer;
}