.comingSoon{
    background: linear-gradient(rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.73)), url('../src/assets/hero-news.jpg');  
    height: 70vh;
    padding: 4rem 3rem;
    position: relative;
}

.comingSoon::after {
    content: '';
    position: absolute;
}

.comingSoon h2 {
    font-size: 18px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: #ec7532;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #d8d8d852;
    position: relative;
}

.comingSoon h2::after {
    position: absolute;
    right: auto;
    bottom: -1px;
    display: block;
    width: 142px;
    height: 4px;
    content: '';
    background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}
    


